<a href="https://colab.research.google.com/github/Riccardolotorto/Python/blob/main/EserciziListeipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

esercizi sulle liste

lista intera

In [ ]:
lista = [1,2,3,4,5,6,7,8,9]
print(lista)
print(lista[3])
print(lista[4])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
4
5

lista stringhe

In [ ]:
stringa = ["riccardo","luca","lorenzo","leonardo"]
print(stringa[0])
print(stringa[-1]) #stampo l'ultimo elemento della lista

riccardo
leonardo

lista dentro un'altra

In [ ]:
lista_mista = [10, 45, "francesco", 45.98, [56,"inter","milan merda"],12]
print(lista_mista[1])
print(lista_mista[4])
print(lista_mista[4][1])

45
[56, 'inter', 'milan merda']
inter

slicing

In [ ]:
num = [5,6,7,8,9,10,11,12,13]
print(num[2:6])  #stampo gli elementi dalla posizione 2 alla posizione 6 - 1 
print(num[:7])  #stampo gli elementi dall'inzio fino alla posizione 7 - 1
print(num[4:])  #stamo gli elementi dalla poszione 4 fino alla fine
print(num[-5:-3])
print(num[1:7:2]) #stampo gli elementi a due a due

[7, 8, 9, 10]
[5, 6, 7, 8, 9, 10, 11]
[9, 10, 11, 12, 13]
[9, 10]
[6, 8, 10]

funzioni (len, max, min...)

In [ ]:
#trovare la lunghezza della lista: funzione len
len(num)
#trovare il max in una lista
valoremax = max(num)
print("max = ", valoremax)
#trovare il min in una lista
valoremin = min(num)
print(valoremin)
#trovare la somma degli elementi della lista
totale = sum(num)
print(totale)

max =  13
5
81

concatenazione tra due liste

In [ ]:
lista2 = [1,4,5]
lista3 = [7,8,9]
lista2 + lista3

[1, 4, 5, 7, 8, 9]

funzione a IN b (vedere se un elemento è presente in una lista o no

In [ ]:
squadre = ["inter", 56.78, "roma", 43, "luca"]
"inter" in squadre

True

funzione max e min per liste di stringhe

In [ ]:
a = ["c", "b", "h", "v", "a"]
#trovare la lettera più avanti nell'alfabeto
letteramax = max(a)
print(letteramax)
#trovare la lettera più indietro nell'alfabeto
letteramin = min(a)
print(letteramin)

v
a

funzione list (trasforma una stringa in una lista dividendola in caratteri)

In [ ]:
parola = "ciao mondo"
print(list(parola))   #trasforma la stringa in una lista
print(parola.split())   #divide la stringa in più parole rendendola una lista

['c', 'i', 'a', 'o', ' ', 'm', 'o', 'n', 'd', 'o']
['ciao', 'mondo']

funzione append, extend

In [ ]:
lista4 = [4,5,6,8]
lista4.append(10)  #aggiunge un elemento alla fine della lista considerandolo un unico elemento
print(lista4)
lista4.extend([12,13,14])   #aggiunge più elementi alla fine della lista considerando elementi diversi
print(lista4)

[4, 5, 6, 8, 10]
[4, 5, 6, 8, 10, 12, 13, 14]

funzione insert, remove e reverse

In [ ]:
lst = [3, "ps5", 5, "forza inter"]
#inserire un elemento in una determinata posizione (pos, elemento)
lst.insert(0, 4.78)
print(lst)
#rimuovere un elemento di una lista
lst.remove("ps5")
print(lst)
#ribalta l'ordine della lista
lst.reverse()
print(lst)

[4.78, 3, 'ps5', 5, 'forza inter']
[4.78, 3, 5, 'forza inter']
['forza inter', 5, 3, 4.78]