<a href="https://colab.research.google.com/github/Riccardolotorto/Python/blob/main/EserciziVerifica14_11_2022(ListeTupleInsiemiDizionari).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#esercizi dizionari

Creare una lista di dizionari con nome, età e nazionalità

In [8]:
persone = [
    {
        "nome":"riccardo",
        "età":15,
        "nazionalità":"italia"
    },
    {
        "nome":"lorenzo",
        "età":24,
        "nazionalità":"italia"
    },
    {
        "nome":"antoine",
        "età":10,
        "nazionalità":"francia"
    },
    {
        "nome":"charles",
        "età":50,
        "nazionalità":"inghilterra"
    },
    {
        "nome":"giada",
        "età":17,
        "nazionalità":"italia"
    },
    {
        "nome":"maria",
        "età":43,
        "nazionalità":"russia"
    },
    {
        "nome":"francois",
        "età":23,
        "nazionalità":"francia"
    },
    {
        "nome":"george",
        "età":12,
        "nazionalità":"romania"
    },
]
print(persone)

[{'nome': 'riccardo', 'età': 15, 'nazionalità': 'italia'}, {'nome': 'lorenzo', 'età': 24, 'nazionalità': 'italia'}, {'nome': 'antoine', 'età': 10, 'nazionalità': 'francia'}, {'nome': 'charles', 'età': 50, 'nazionalità': 'inghilterra'}, {'nome': 'giada', 'età': 17, 'nazionalità': 'italia'}, {'nome': 'maria', 'età': 43, 'nazionalità': 'russia'}, {'nome': 'francois', 'età': 23, 'nazionalità': 'francia'}, {'nome': 'george', 'età': 12, 'nazionalità': 'romania'}]

1. contare quante persone ci sono

In [3]:
len(persone)

8

2. visualizzare il nome degli studenti stranieri

In [4]:
for indice in range(len(persone)):
  if persone[indice]["nazionalità"] != "italia":
    print(persone[indice]["nome"])

antoine
charles
maria
francois
george

3. visualizzare il nome del più vecchio

In [5]:
età = [persone[indice]["età"] for indice in range(len(persone))]
massimo = max(età)
for indice in range(len(persone)):
  if massimo == persone[indice]["età"]:
    print(persone[indice]["nome"])

charles

4. visualizzare tutte le informazioni di una persona dopo aver inserito il suo nome

In [10]:
nomeInserito = input("inserire un nome: ")
for indice in range(len(persone)):
  if nomeInserito == persone[indice]["nome"]:
    print(persone[indice])

inserire un nome: maria
{'nome': 'maria', 'età': 43, 'nazionalità': 'russia'}

4. visualizzare il nome dei maggiorenni

In [12]:
for indice in range(len(persone)):
  if persone[indice]["età"] >= 18:
    print(persone[indice]["nome"])

lorenzo
charles
maria
francois

#esercizi insiemi

1. creare tre insiemi di cui uno contiene gli studenti della 3E, il secondo contiene gli studenti interrogati in italiano e l'altro contiene gli studenti interrogati in inglese. 
italiano: finessi, poliseno, papes, bernasconi, leone. inglese: lotorto, geremicca, leone, poliseno, fontana.

In [21]:
studenti3E = {"avasiloae", "bernasconi", "cottone", "d'arienzo", "dipace", "ali", "finessi", "fonta", "gere", "leone", "lotorto", "milella", "muhammad", "neri", "papes", "poliseno"}
studentiItaliano = {"finessi", "poliseno", "papes", "bernasconi", "leone"}
studentiInglese = {"lotorto", "gere", "leone", "poliseno", "fonta"}

2. visualizzare il nome degli studenti che sono interrogati almeno in una materia

In [22]:
studentiInterrogati = studentiItaliano.union(studentiInglese)
print(studentiInterrogati)

{'lotorto', 'leone', 'gere', 'papes', 'finessi', 'fonta', 'poliseno', 'bernasconi'}

3. visualizzare il nome degli studenti che non sono interrogati

In [24]:
studentiNonInterrogati = studenti3E.difference(studentiItaliano, studentiInglese)
print(studentiNonInterrogati)

{'neri', 'ali', 'cottone', "d'arienzo", 'milella', 'avasiloae', 'muhammad', 'dipace'}

4. tutti gli interrogati in italiano sono anche interrogati in inglese?

In [25]:
print(studentiItaliano.issubset(studentiInglese))

False

5. visualizzare gli studenti che sono interrogati in entrambe le materie

In [26]:
studentiTutteMaterie = studentiItaliano.intersection(studentiInglese)
print(studentiTutteMaterie)

{'poliseno', 'leone'}