<a href="https://colab.research.google.com/github/Riccardolotorto/Python/blob/main/ListePython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

liste

In [ ]:
a = []

In [ ]:
b = [1,2,3,4,5,6,7,8,9,10]
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
type(b)

list

In [ ]:
lista = [12, "pippo",37.92,"pluto",["qui",[8,12,24],"qua"],58]         #lista dentro un'altra lista
print(lista[3])
print(lista[4])
print(lista[4][1])
print(lista[4][1][2])

pluto
['qui', [8, 12, 24], 'qua']
[8, 12, 24]
24

In [ ]:
lista2 = [1,2,3,4,5,6,7,8,9,10]
print(lista2[9])
print(lista2[-1])       #trova l'ultimo elemento della lista
print(lista2[-2])
print(lista2[-10])

10
10
9
1

In [ ]:
#slicing (spezzare)
#lo slicing arriva fino al numero precedente
num = [0,1,2,3,4,5,6,7,8,9]
#visualizzazione degli elementi dal 3 al 6
print(num[3:7])
#visualizzazione degli ultimi 5 elementi
print(num[5:])
#visualizzazione dei primi 5 elementi
print(num[:5])
print(num[-3:-1])  #visualizzazione del penultimo e terzultimo numero
print(num[3:9:2])  #visualizzazione a due a due (l'ultimo :2)
print(num[::2])  #visualizzazione a due a due a partire dallo 0

[3, 4, 5, 6]
[5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]
[7, 8]
[3, 5, 7]
[0, 2, 4, 6, 8]

In [ ]:
#Built in List Functions  (funzioni per le liste già costruite)

#funzione a IN b
19 in num

False

In [ ]:
stringa = "la mamma è bella"
print(stringa)
lista3 = list(stringa)   #funzione list: trasforma la stringa in una lista dividento i caratteri
print(lista3)

la mamma è bella
['l', 'a', ' ', 'm', 'a', 'm', 'm', 'a', ' ', 'è', ' ', 'b', 'e', 'l', 'l', 'a']

In [ ]:
#funzione append: aggiunge un elemento alla fine della lista (riconosce un unico elemento)
lista4 = [1,2,3]
lista4.append(12)
print(lista4)
lista4.append([10,19])
print(lista4)

[1, 2, 3, 12]
[1, 2, 3, 12, [10, 19]]

In [ ]:
#funzione extend: estende la lista con dei valori inseriti (riconosce un elemento per ogni elemento inserito)
lista4.extend([10,19])
print(lista4)

[1, 2, 3, 12, [10, 19], 10, 19]

caricare in una lista i numeri 8 17 -5 4 76 9 2

In [ ]:
lista5 = [8, 17, -5, 4, 76, 9, 2]
print(lista5)
#visualizzazione primo elemento
print(lista5[0])
#visualizzazione ultimo elemento
print(lista5[-1])
#ultimo elemento con il metodo lunghezza lista
print(lista5[len(lista5)-1])

[8, 17, -5, 4, 76, 9, 2]
8
2
2

In [ ]:
#aggiungere i valori 7 8 4 9 alla lista
lista5.extend([7, 8, 4, 9])   
print(lista5)

[8, 17, -5, 4, 76, 9, 2, 7, 8, 4, 9, 7, 8, 4, 9, 7, 8, 4, 9]

In [ ]:
#ordinare una lista in modo crescente
lista5.sort()
print(lista5)

[-5, 2, 4, 8, 9, 17, 76]

In [ ]:
#rimuovere un elemento di una lista     lista5.remove(-5)

#rimuovere gli elementi uguali in una lista
valoredarimuovere = 8

try:
    while True:
       lista5.remove(valoredarimuovere)
except ValueError:
    pass

print(lista5)

[-5, 2, 4, 4, 4, 4, 7, 7, 7, 9, 9, 9, 9, 17, 76]

In [ ]:
#metodo più veloce per rimuovere gli elementi uguali in una lista
while 9 in lista5:
  lista5.remove(9)
print(lista5)

[-5, 2, 4, 4, 4, 4, 7, 7, 7, 17, 76]

In [ ]:
#altro metodo (con la funzione filter)
lista5 = list(filter((7).__ne__,lista5))  #ne = not equal
print(lista5)

[-5, 2, 4, 4, 4, 4, 17, 76]

In [ ]:
#contare il numero di volte che compare il numero - 5 in una lista
lista5.count(-5)

1

In [ ]:
#trovare l'indice di un elemento
print(lista5)
#cercare l'indice del numero 4
lista5.index(4)

[-5, 2, 4, 4, 4, 4, 17, 76]

2

In [ ]:
#inserire un elemento in una lista
print(lista5)
#inserire il valore 0 prima del numero 17
lista5.insert(lista5.index(17), 0)
print(lista5)

[-5, 2, 4, 8, 9, 0, 17, 76]
[-5, 2, 4, 8, 9, 0, 0, 17, 76]

In [ ]:
lista6 = [66, 7, 8, 9, 12, 13, 14]
#trova l'ultimo elemento della lista e lo rimuove dalla lista se le parentesi sono vuote, altrimenti elimina l'elemento corrispondente dell'index inserito
lista6.pop()
print(lista6)

[66, 7, 8, 9, 12, 13]

In [ ]:
#eliminare un elemento usano la posizione
del lista6[0]
print(lista6)

[7, 8, 9, 12, 13]

In [ ]:
lista7 = [5, 7, 9, 2]
lista8 = lista7
print(lista7)
print(lista8)

[5, 7, 9, 2]
[5, 7, 9, 2]

In [ ]:
lista7.pop()
print(lista7)
print(lista8)

[5, 7, 9]
[5, 7, 9]

1. inizializzare una lista con i seguenti numeri: 8 18 27 -8 51 40 -9 -76
2. aggiungere in fondo alla lista i valori: 7 4 95
3. aggiungere all'inizio della lista i valori: 7 4 95
4. visualizzare il numero di elementi della lista 
5. aggiungere in 4 posizione il valore 100
6. eliminare il terzultimo elemento della lista
7. visualizzare il valore massimo e minimo della lista
8. calcolare la somma degli elementi della lista
9. calcolare la media degli elementi della lista
10. rimuovere dalla lista il numero 7 
11. ordinare la lista in modo decrescente 
12. eliminare dalla lista il numero più alto e il numero più basso
13. visualizzare gli elementi di posto pari
14. visualizzare gli elementi di posto dispari
15. visualizzare i primi 5 elementi della lista
16. visualizzare gli ultimi 5 elementi 
17. visualizzare i 5 elementi centrali 
18. rimuovere i duplicati presenti nella lista

In [ ]:
lista9 = [8, 18, 27, -8, 51, 40, -9, -76]

lista9.extend([7, 4, 95])
print(lista9)

lista9.insert(0,7)
lista9.insert(1, 4)
lista9.insert(2, 95)
print(lista9)

print(len(lista9))

lista9.insert(4, 100)
print(lista9)

del lista9[-3]
print(lista9)

valoremax = max(lista9)
valoremin = min(lista9)
print(valoremax)
print(valoremin)

somma = sum(lista9)
print(somma)

from statistics import mean
print(mean(lista9))

lista9.remove(7)
print(lista9)

lista9.sort(reverse = True)
print(lista9)

lista9.remove(max(lista9))
lista9.remove(min(lista9))
print(lista9)

print(lista9[::2])

print(lista9[1::2])

print(lista9[:5])

print(lista9[-5:])

print(lista9[3:8])

from collections import OrderedDict
list(OrderedDict.fromkeys(lista9))

[8, 18, 27, -8, 51, 40, -9, -76, 7, 4, 95]
[7, 4, 95, 8, 18, 27, -8, 51, 40, -9, -76, 7, 4, 95]
14
[7, 4, 95, 8, 100, 18, 27, -8, 51, 40, -9, -76, 7, 4, 95]
[7, 4, 95, 8, 100, 18, 27, -8, 51, 40, -9, -76, 4, 95]
100
-76
356
25.428571428571427
[4, 95, 8, 100, 18, 27, -8, 51, 40, -9, -76, 4, 95]
[100, 95, 95, 51, 40, 27, 18, 8, 4, 4, -8, -9, -76]
[95, 95, 51, 40, 27, 18, 8, 4, 4, -8, -9]
[95, 51, 27, 8, 4, -9]
[95, 40, 18, 4, -8]
[95, 95, 51, 40, 27]
[8, 4, 4, -8, -9]
[40, 27, 18, 8, 4]

[95, 51, 40, 27, 18, 8, 4, -8, -9]